<!DOCTYPE html>
<html>
  <head>
    <title><%= company_name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= company_name %></h1>
    <p>Welcome to <%= company_name %></p>
  </body>
</html>
