<!DOCTYPE html>
<html>
  <head>
    <title>Face Recognition</title>
  </head>
  <body>
    <h2>Face Recognition with face-api.js</h2>
    <video id="video" width="720" height="560" autoplay muted></video>
    <canvas id="overlay" width="720" height="560"></canvas>

    <!-- Load face-api.js library -->
    <script defer src="/face/js/face-api.min.js"></script>
    <!-- Load our custom script -->
    <script src="/face/js/face.js"></script>
  </body>
</html>
